# Basic Descriptive Analytics with Python
This notbook is a submission for CSDA1010 - Basic Methods of Data Analytics course asignement individual asignement one.

In [71]:
# import the necessary packages to manipulalate data
import os
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [72]:
#set working directory as the current working directory
os.chdir(os.getcwd())

In [73]:
# import data as a pandas dataframe
# IBMStock.csv, GEStock.csv, ProcterGambleStock.csv, CocaColaStock.csv, BoeingStock.csv

IBM = pd.read_csv('data/IBMStock.csv')
GE = pd.read_csv('data/GEStock.csv')
ProcterGamble = pd.read_csv('data/ProcterGambleStock.csv')
CocaCola = pd.read_csv('data/CocaColaStock.csv')
Boeing = pd.read_csv('data/BoeingStock.csv')

In [74]:
GE.head()

     Date  StockPrice
0  1/1/70   74.253333
1  2/1/70   69.976842
2  3/1/70   72.158571
3  4/1/70   74.252727
4  5/1/70   66.665238

## Change datatypes for all stock dataframes
- Change Date datatype as a native datetime rather than the default object

In [75]:
IBM['Date'] = pd.to_datetime(IBM['Date'], format='%m/%d/%y')
GE['Date'] = pd.to_datetime(GE['Date'], format='%m/%d/%y')
ProcterGamble['Date'] = pd.to_datetime(ProcterGamble['Date'], format='%m/%d/%y')
CocaCola['Date'] = pd.to_datetime(CocaCola['Date'], format='%m/%d/%y')
Boeing['Date'] = pd.to_datetime(Boeing['Date'], format='%m/%d/%y')

In [86]:
# Check the data after data type adjstement
IBM.head()

        Date  StockPrice
0 1970-01-01  360.319048
1 1970-02-01  346.723684
2 1970-03-01  327.345714
3 1970-04-01  319.852727
4 1970-05-01  270.375238

In [85]:
GE.head()

        Date  StockPrice
0 1970-01-01   74.253333
1 1970-02-01   69.976842
2 1970-03-01   72.158571
3 1970-04-01   74.252727
4 1970-05-01   66.665238

In [87]:
ProcterGamble.head()

        Date  StockPrice
0 1970-01-01  111.874286
1 1970-02-01  111.453684
2 1970-03-01  108.451429
3 1970-04-01  106.288636
4 1970-05-01   73.332857

In [89]:
CocaCola.head()

        Date  StockPrice
0 1970-01-01   83.368095
1 1970-02-01   81.591053
2 1970-03-01   81.338095
3 1970-04-01   76.805909
4 1970-05-01   69.278571

In [90]:
Boeing.head()

        Date  StockPrice
0 1970-01-01   27.853810
1 1970-02-01   22.381053
2 1970-03-01   23.105238
3 1970-04-01   21.571364
4 1970-05-01   18.932857

## Warm-up/Basic statistics Questions

### 1. How many rows of data are in each dataset?

In [77]:
print("There are {} rows and {} columns in IBMStock dataset". format(IBM.shape[0], IBM.shape[1]))
print("There are {} rows and {} columns in GEStock dataset". format(GE.shape[0], GE.shape[1]))
print("There are {} rows and {} columns in ProcterGambleStock dataset". format(ProcterGamble.shape[0], ProcterGamble.shape[1]))
print("There are {} rows and {} columns in CocaColaStock dataset". format(CocaCola.shape[0], CocaCola.shape[1]))
print("There are {} rows and {} columns in BoeingStock dataset". format(Boeing.shape[0], Boeing.shape[1]))

There are 480 rows and 2 columns in IBMStock dataset
There are 480 rows and 2 columns in GEStock dataset
There are 480 rows and 2 columns in ProcterGambleStock dataset
There are 480 rows and 2 columns in CocaColaStock dataset
There are 480 rows and 2 columns in BoeingStock dataset

### 2. What is the earliest/latest year in our datasets?

In [78]:
# Finding the earliest and latest year in our dataset
print("The  earliest year is IBMStock dataset {}".format(IBM['Date'].dt.year.min()))
print("The  latest year is IBMStock dataset {}".format(IBM['Date'].dt.year.max()))
print("\n")
print("The  earliest year is GEStock dataset {}".format(GE['Date'].dt.year.min()))
print("The  latest year is GEStock  dataset {}".format(IBM['Date'].dt.year.max()))

The  earliest year is IBMStock dataset 1970
The  latest year is IBMStock dataset 2009


The  earliest year is GEStock dataset 1970
The  latest year is GEStock  dataset 2009

### 3. For the period above what is the average stock price of Coca Cola?

In [79]:
# The avaregae stock price for Coca Cola from Year 1970 to 2009
print("The average Coca Cola is {}".format(CocaCola.StockPrice.mean()))

The average Coca Cola is 60.029729733270834

### 4. What is the maximum price of IBM during this period?

In [80]:
print("The maximum price of IBM is {}".format(IBM.StockPrice.max()))

The average Coca Cola is 438.9015789

### 5. What is the standard deviation of P&G stock price over this period?

In [82]:
print("The standard deviation of P&G stock is {}".format(ProcterGamble.StockPrice.std()))

The standard deviation of P&G stock is 18.19414030797156

### 6. What is the median price of Boeing in the last 5 years for which we have data?

In [103]:
# To get the last five years, subtract 5 from the max year

last_five_year_data = Boeing[Boeing.Date.dt.year > Boeing.Date.dt.year.max() - 5]

print("The median price of Boeing Stock price in the last 5 years is {}".format(last_five_year_data.StockPrice.median()))

The median price of Boeing in the last 5 years is 69.675666665

## Basic Plotting Questions